.choice-button {
    -fx-background-color: #DB5656;
    -fx-text-fill: #1C0000;
    -fx-font-family: "Glass Antiqua";
    -fx-font-size: 35px;
    -fx-text-transform: uppercase;
}

.title {
    -fx-text-fill: #DB5656;
    -fx-font-family: "Glass Antiqua";
    -fx-font-size: 95px;
}

.prompt {
    -fx-text-fill: #F5E9E2;
    -fx-font-family: "Montserrat";
    -fx-text-transform: uppercase;
    -fx-font-size: 20px;
    -fx-wrap-text: true;
    -fx-text-align: center;
    -fx-padding: 0 90 0 90;
}

.name {
    -fx-text-fill: #F5E9E2;
    -fx-font-family: "Montserrat";
    -fx-text-transform: uppercase;
    -fx-font-size: 20px;
    -fx-wrap-text: true;
    -fx-text-align: center;
}

.back {
    -fx-background-color: #1C0000;
}  

.spacer {
    -fx-font-size: 30px;
}
